@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.active_nav{
    background: #2373a8;
}
.container {
    width: 65%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 65%;
    height: 100%;
    margin: auto;
}

.logo>img {
    width: 60%;
    cursor: pointer;
    margin-left: 16px;
}
.loged>.logo>img{
    width: 100%;
}
.nav>.login {
    font-weight: 700;
    line-height: 14px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 16px;
    text-decoration: none;
    color: black;
}

#top {
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.001) 0px 1px 1px 0px;
    margin: auto;
    display: flex;
    align-items: center;
}

/* -------- nav bar  */
.nav_bar {
    width: 100%;
    height: 45px;
    background: #2a90d5;

}

.nav_menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_menu>a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    padding: 0 18px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_menu>a:hover {
    background: #2373a8;
}

/* -- logedin --` */
.logedin {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logedin>li {
    list-style-type: none;
    font-size: 12px;
    line-height: 16px;
    color: #222222;
    cursor: pointer;
}

.logedin>li:nth-child(1)>span {
    color: #2a90d5;
    font-weight: 700;
    padding-right: 10px;
    padding-left: 4px;
    border-right: 0.5px solid rgb(164, 160, 160);
}

.logedin>li:nth-child(2) {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.logedin>li:nth-child(2)>span:nth-child(2) {
    padding: 2px 6px;
    background: red;
    border-radius: 4px;
    color: white;
}

.logedin>li:nth-child(2)>span:nth-child(1) {
    font-size: 20px;
    color: #2a90d5;
}

.logedin>li:nth-child(3) {
    display: flex;
    align-items: center;
    border-right: 0.5px solid rgb(164, 160, 160);
    padding-right: 10px;
}

.logedin>li:nth-child(3)>span:nth-child(2) {
    padding: 2px 6px;
    background: rgb(203, 197, 197);
    border-radius: 4px;
    color: rgb(75, 73, 73);
    font-weight: 700;
}

.logedin>li:nth-child(3)>span:nth-child(1) {
    font-size: 20px;
    color: #2a90d5;
}

.logedin>li>a {
    text-decoration: none;
    margin: 0 10px;
    padding-right: 10px;
    border-right: 0.5px solid rgb(164, 160, 160);
    color: #2a90d5;
    font-weight: 500;
}
.logedin>li:nth-child(8)>a, .logedin>li:nth-child(9)>a{
    border-right: none;
}
.logedin>li:nth-child(8) {
    max-width: 3%;
    margin-left: 10px;
}
.logedin>li:nth-child(8)>a>img{
    width: 100%;
}

.logedin>li:nth-child(9) {
    max-width: 3%;
    margin: 5px;
    border-right: none;
}
.logedin>li:nth-child(9)>a>img{
    width: 100%;

}

.logedin>li>img {
    width: 100%;
}